<a href="https://colab.research.google.com/github/kimhyoryeong/introduction_to_python_TEAMLAB_MOOC/blob/master/samsungcard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Mount Google Drive
from google.colab import drive # import drive from google colab

ROOT = "/content/drive"     # default location for the drive
print(ROOT)                 # print content of ROOT (Optional)
drive.mount(ROOT)           # we mount the google drive at /content/drive

/content/drive
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
from os.path import join  

MY_GOOGLE_DRIVE_PATH = 'My Drive/Colab Notebooks/samsungcard' # 프로젝트 경로
PROJECT_PATH = join(ROOT, MY_GOOGLE_DRIVE_PATH) # 프로젝트 경로
print(PROJECT_PATH)

/content/drive/My Drive/Colab Notebooks/samsungcard

In [9]:
%cd "{PROJECT_PATH}"

/content/drive/My Drive/Colab Notebooks/samsungcard

In [15]:
data =  pd.read_csv('trend_w_demo.csv',encoding='CP949')
data

            YM Category  성별구분 연령대  ... 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어 전업주부스코어
0       202005      할인점     0   F  ...      high      mid      low     low
1       202005       취미     0   B  ...       mid      mid      low     low
2       202005  오픈마켓/소셜     1   D  ...       mid      mid      low     mid
3       202005       뷰티     0   D  ...       mid      mid      low     low
4       202005  오픈마켓/소셜     0   G  ...       mid      mid      mid     low
...        ...      ...   ...  ..  ...       ...      ...      ...     ...
452033  201904      전문몰     0   E  ...       low      low      low     low
452034  201904      할인점     0   H  ...       low      low      low     low
452035  201904      할인점     1   H  ...       low      low      low     low
452036  201904      할인점     0   H  ...       low      low      low     low
452037  201904      할인점     1   B  ...       mid      mid      low     mid

[452038 rows x 10 columns]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452038 entries, 0 to 452037
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YM         452038 non-null  int64
 1   Category   452038 non-null  object
 2   성별구분       452038 non-null  int64
 3   연령대        452038 non-null  object
 4   기혼스코어      452038 non-null  object
 5   유아자녀스코어    452038 non-null  object
 6   초등학생자녀스코어  452038 non-null  object
 7   중고생자녀스코어   452038 non-null  object
 8   대학생자녀스코어   452038 non-null  object
 9   전업주부스코어    452038 non-null  object
dtypes: int64(2), object(8)
memory usage: 34.5+ MB

In [22]:
data.shape

(452038, 10)

In [26]:
data[data.YM==201904]

            YM Category  성별구분 연령대  ... 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어 전업주부스코어
331919  201904      할인점     0   H  ...       low      low      low     low
331920  201904      할인점     0   E  ...       low      low      low     low
331921  201904      할인점     1   A  ...       mid      mid      low     mid
331922  201904      전문몰     1   D  ...      high      mid      low    high
331923  201904       취미     0   F  ...      high      mid      mid     low
...        ...      ...   ...  ..  ...       ...      ...      ...     ...
452033  201904      전문몰     0   E  ...       low      low      low     low
452034  201904      할인점     0   H  ...       low      low      low     low
452035  201904      할인점     1   H  ...       low      low      low     low
452036  201904      할인점     0   H  ...       low      low      low     low
452037  201904      할인점     1   B  ...       mid      mid      low     mid

[120119 rows x 10 columns]

In [27]:
mdata=data[data.YM==201904] #2019년 4월 data

In [29]:
mdata.shape

(120119, 10)

In [31]:
mdata['연령대'].value_counts() #연령별 인원

D    20653
A    18540
F    18393
E    15278
C    15032
G    13083
H     9701
B     9439
Name: 연령대, dtype: int64

In [46]:
unmarried=mdata[mdata.기혼스코어=='low']

In [64]:
unmarried

            YM Category  성별구분 연령대  ... 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어 전업주부스코어
331920  201904      할인점     0   E  ...       low      low      low     low
331942  201904    호텔/숙박     1   E  ...       low      low      low     mid
331951  201904      전문몰     0   E  ...       low      low      low     low
331977  201904      전문몰     1   E  ...       low      low      low     mid
331982  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
...        ...      ...   ...  ..  ...       ...      ...      ...     ...
452002  201904      종합몰     1   E  ...       low      low      low     mid
452016  201904       뷰티     1   E  ...       low      low      low     low
452024  201904      전문몰     1   E  ...       low      low      low     mid
452027  201904      디저트     0   E  ...       low      low      low     low
452033  201904      전문몰     0   E  ...       low      low      low     low

[8946 rows x 10 columns]

In [36]:
mdata[mdata.기혼스코어=='low']['연령대'].value_counts() #미혼인 사람들의 연령대

E    8857
C      89
Name: 연령대, dtype: int64

In [42]:
tw=unmarried[unmarried.연령대=='E'] #미혼인 사람들중 e연령대를 20대라고 가정

            YM Category  성별구분 연령대  ... 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어 전업주부스코어
331920  201904      할인점     0   E  ...       low      low      low     low
331942  201904    호텔/숙박     1   E  ...       low      low      low     mid
331951  201904      전문몰     0   E  ...       low      low      low     low
331977  201904      전문몰     1   E  ...       low      low      low     mid
331982  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
...        ...      ...   ...  ..  ...       ...      ...      ...     ...
452002  201904      종합몰     1   E  ...       low      low      low     mid
452016  201904       뷰티     1   E  ...       low      low      low     low
452024  201904      전문몰     1   E  ...       low      low      low     mid
452027  201904      디저트     0   E  ...       low      low      low     low
452033  201904      전문몰     0   E  ...       low      low      low     low

[8857 rows x 10 columns]

In [47]:
unmarried[unmarried.연령대=='E']['Category'].value_counts() #미혼인 e연령대의 소비 패턴

전문몰        2401
디저트        1907
오픈마켓/소셜    1452
할인점         842
뷰티          821
취미          736
호텔/숙박       251
종합몰         213
항공/여행사      163
면세점          71
Name: Category, dtype: int64

In [48]:
married=mdata[mdata.기혼스코어=='high']

In [49]:
mdata[mdata.기혼스코어=='high']['연령대'].value_counts()

A    18540
F    18393
G    13083
D    10240
H     9701
B     9439
C     2757
E      685
Name: 연령대, dtype: int64

In [50]:
mdata[mdata.기혼스코어=='high']['Category'].value_counts()

할인점        21252
전문몰        20795
디저트        15692
오픈마켓/소셜    11864
취미          3547
뷰티          3486
종합몰         2681
호텔/숙박       1522
항공/여행사      1393
면세점          606
Name: Category, dtype: int64

In [52]:
mdata[mdata.Category=='디저트']['기혼스코어'].value_counts()

high    15692
mid      5304
low      1922
Name: 기혼스코어, dtype: int64

In [53]:
mdata[mdata.Category=='뷰티']['기혼스코어'].value_counts()

high    3486
mid     1424
low      824
Name: 기혼스코어, dtype: int64

In [54]:
mdata['기혼스코어'].value_counts()

high    82838
mid     28335
low      8946
Name: 기혼스코어, dtype: int64

In [61]:
mdata.iloc[:,3:]

       연령대 기혼스코어 유아자녀스코어 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어 전업주부스코어
331919   H  high     low       low      low      low     low
331920   E   low     low       low      low      low     low
331921   A  high     low       mid      mid      low     mid
331922   D  high     mid      high      mid      low    high
331923   F  high     mid      high      mid      mid     low
...     ..   ...     ...       ...      ...      ...     ...
452033   E   low     mid       low      low      low     low
452034   H  high     low       low      low      low     low
452035   H  high     low       low      low      low     low
452036   H  high     low       low      low      low     low
452037   B  high     low       mid      mid      low     mid

[120119 rows x 7 columns]

In [65]:
unmarried[unmarried.유아자녀스코어=='high']

            YM Category  성별구분 연령대  ... 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어 전업주부스코어
335252  201904      디저트     1   E  ...       low      low      low     mid
336262  201904      할인점     1   E  ...       low      low      low     mid
337748  201904       뷰티     1   E  ...       low      low      low     mid
338931  201904      전문몰     1   E  ...       low      low      low     mid
341592  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
342780  201904      디저트     1   E  ...       low      low      low     mid
343153  201904       뷰티     1   E  ...       low      low      low     mid
345087  201904      종합몰     1   E  ...       low      low      low     mid
351213  201904      디저트     1   E  ...       low      low      low     mid
354097  201904      할인점     1   E  ...       low      low      low     mid
356424  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
357069  201904      전문몰     1   E  ...       low      low      low     mid
358714  201904      전문몰     1   E  ...       low      low      low     mid
359029  201904      할인점     1   E  ...       low      low      low     mid
359171  201904      전문몰     1   E  ...       low      low      low     mid
360946  201904      전문몰     1   E  ...       low      low      low     mid
364896  201904      전문몰     1   E  ...       low      low      low     mid
366374  201904      할인점     1   E  ...       low      low      low     mid
369632  201904      할인점     1   E  ...       low      low      low     mid
369762  201904       뷰티     1   E  ...       low      low      low     mid
372767  201904      할인점     1   E  ...       low      low      low     mid
373567  201904      할인점     1   E  ...       low      low      low     mid
375533  201904      전문몰     1   E  ...       low      low      low     mid
377347  201904      전문몰     1   E  ...       low      low      low     mid
379536  201904      디저트     1   E  ...       low      low      low     mid
379698  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
380040  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
380517  201904      전문몰     1   E  ...       low      low      low     mid
380666  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
384069  201904      디저트     1   E  ...       low      low      low     mid
385008  201904      전문몰     1   E  ...       low      low      low     mid
390046  201904      디저트     1   E  ...       low      low      low     mid
392655  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
399447  201904      종합몰     1   E  ...       low      low      low     mid
405890  201904      전문몰     1   E  ...       low      low      low     mid
406937  201904      종합몰     1   E  ...       low      low      low     mid
408403  201904       뷰티     1   E  ...       low      low      low     mid
411626  201904      디저트     1   E  ...       low      low      low     mid
413398  201904      디저트     1   E  ...       low      low      low     mid
417723  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
417941  201904      전문몰     1   E  ...       low      low      low     mid
419498  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
421086  201904      디저트     1   E  ...       low      low      low     mid
424753  201904      전문몰     1   E  ...       low      low      low     mid
428979  201904       뷰티     1   E  ...       low      low      low     mid
432249  201904       뷰티     1   E  ...       low      low      low     mid
432951  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
435019  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
435782  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
437465  201904       뷰티     1   E  ...       low      low      low     mid
440303  201904       뷰티     1   E  ...       low      low      low     mid
443346  201904      할인점     1   E  ...       low      low      low     mid
444504  201904      디저트     1   E  ...       low      low      low     mid
445345  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
449264  201904      디저트     1   E  ...       low      low      low     mid
449336  201904      디저트     1   E  ...       low      low      low     mid
450939  201904  오픈마켓/소셜     1   E  ...       low      low      low     mid
451989  201904      전문몰     1   E  ...       low      low      low     mid

[58 rows x 10 columns]

In [66]:
unmarried[unmarried.유아자녀스코어=='high']

AttributeError: ignored